{
	"email" : "email of the discord account here if using a user account",
	"password" : "password of the discord account here if using a user account",
	"bot_token" : "bot token if using a bot account",
	"client_id" : "client id if using a bot account and you want people to be able to invite it to their server",
	"youtube_api_key": "create one here https://console.developers.google.com",
	"google_custom_search": "follow instructions at https://stackoverflow.com/questions/34035422/google-image-search-says-api-no-longer-available",
	"imgflip_username": "https://imgflip.com/ username",
	"imgflip_password": "https://imgflip.com/ password",
	"wolfram_api_key": "go here and click sign up http://products.wolframalpha.com/api/"
}
