// global: Command permission defaults for all users
// users: Command permissions for individual users. Overrides global permissions.
// 		"*" grants/denies permission to run all commands. Individually listed commands will be exceptions to this.
//
// DON'T INCLUDE ANYTHING ON OR ABOVE THIS LINE IN FILE. ONLY INCLUDE BELOW.

{
  "global": {
    "eval": false,
    "pullanddeploy": false,
    "setUsername": false,
    "cmdauth": false
  },
  "users":{
	"userid":{
		"eval": false,
		"pullanddeploy": true
	}
  },
  "roles":{
	"roleid":{
		"eval": true,
		"pullanddeploy": false
	}
  }
}
